.git
.github
.idea
.vscode
.env
.env.*
!.env.example
!.env.production.example
.fleet
node_modules
vendor
public/storage
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
bootstrap/cache/*.php
.phpunit.cache
.phpunit.result.cache
npm-debug.log
yarn-error.log
